<h1>Hi, <%= get_email %></h1>
<%= link_to "Create New Rule", "/create_rule"%>
<table> 
  <thead>
    <th>Last Triggered</th>
    <th>Description</th>
    <th>Activated</th>
  </thead>
  <tbody>
    <% @my_rules.each do |rule| %>
    <tr>
    <td><%= rule.last_triggered %></td>
    <td><%= rule.description %></td>
    <td><%= rule.activated? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
