<div class="depot_form">

<%= form_tag do %>
<fieldset>
<center>

<h1>Welcome back to Trade Assistant!</h1>

<center>
<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
</center>

<br />
<br />

</center>

	
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

	<div class="form-group">
		<%= label_tag :email, 'Email:'%>
		<%= text_field_tag :email , params[:email], class: 'form-control', placeholder: 'Enter your email' %>
	</div>
	<div class="form-group">
		<%= label_tag :password, 'Password:' %>
		<%= password_field_tag :password, params[:password], class: 'form-control',  placeholder: 'Enter your password' %>
	</div>
  <center> <span class="help-block">Welcome back! Please log in to continue.</span> </center>
  <div class = "col-md-4 col-md-offset-4">
    <%= submit_tag "Login", class: 'btn btn-success vcenter' %>
  </div>
	
</fieldset>
<% end %>
</div>
  </div>
</div>
</div>
