<div class="depot_form">

<%= form_tag do %>
<fieldset>
<center>

<h1>Welcome back to Trade Assistant!</h1>
<h2>Please Log In</h2>

<center>
<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
</center>

<br>
<br>

</center>

<center>
	
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

	<div class="form-group">
		<%= label_tag :email, 'Email:'%>
		<%= text_field_tag :email , params[:email], class: 'form-control', placeholder: 'Enter your email' %>
	</div>

	<div class="form-group">
		<%= label_tag :password, 'Password:' %>
		<%= password_field_tag :password, params[:password], class: 'form-control',  placeholder: 'Enter your password' %>
		<%= submit_tag "Login", class: 'btn btn-success' %>
	</div>
	
</fieldset>
<% end %>
</center>
</div>
  </div>
</div>
</div>
