

<h3> <%= @portfolio_name %> </h3>


<table class="table table-hover table-bordered table-condensed table-striped">

<thead>
    <th width = "250"> <b>Description</b> </th>
    <th width = "250"> <b>Stocks</b> </th>
    <th width = "250"> <b>Rules</b> </th>
</thead>

  <tbody>
  <tr>
    <td width = "250">
    <span style="background-color:#e3e3e3;">
        <%= @portfolio_description %>
    </span>

    </td>

    <td width = "250">
         <% @portfolio_stocks.each do |stock| %>
           <span style="background-color:#e3e3e3;">  
             <%= stock.ticker %> 
                  </span> 
                  <br>
            <% if @ratings_hash[stock.ticker] == 'Good' %>
            <%= tag("span", :style => "background-color:#66CC00;") %>
            <% elsif @ratings_hash[stock.ticker] == 'Bad' %>
               <%= tag("span", :style => "background-color:#C00000;") %>
            <% end %>

             <%= 'Twitter rating - ' + @ratings_hash[stock.ticker] %>
             </span>
        <br>
        <% end %>

    </td>

    <td width = "250">
    <span style="background-color:#e3e3e3;">
        <% @portfolio_rules.each do |rule| %>
            <%= link_to(rule.name, "/rules/get_rule?type=page&rule_id=" + rule.id.to_s, :target => "_blank") %>
        <br>
        <% end %>
    </span>
    </td>
    </tr>
    </tbody>
</table>

<br>

<p style="padding-left:3em;"><b>Filter Graph </b></p> 

<select onchange="option_change()" id="options">
    <option value="all">Show all stock graphs</option>
    <% @portfolio_stocks.each do |stock| %>
    <option value=<%= stock.ticker %>><%= stock.ticker %></option>
    <% end %>
</select>

<br>


<% @stock_ticker_array.each do |ticker| %>

<%= tag("p", :id => ticker, :class => "stock" ) %>

<% end %>


<script>


$(document).ready(function() {


    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;

    $.ajax({
        type: 'GET',
        url: "/get_stock_history",
        data: {tickers: stocks_tickers},
        dataType: 'json',
        success: function(data){

            for(var x=0;x < data.length;x++){

                create_stock_chart(stocks_tickers[x], data[x]);

   
            }

        }
    });

});



function option_change(){

    var option = document.getElementById("options").value;
    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;


    if(option != "all"){
        for(var x=0;x < stocks_tickers.length;x++){

            document.getElementById(stocks_tickers[x]).style.display =  "none";

        }

         document.getElementById(option).style.display =  "block";

    }

    else{

        for(var x=0;x < stocks_tickers.length;x++){

           document.getElementById(stocks_tickers[x]).style.display =  "block";
        }

    }


}



</script>