

<h3> <%= @portfolio_name %> </h3>

<hr style="padding:0px; margin: 0px;">

<p><b>Description</b></p>
<p style="background-color:#e3e3e3;"><%= @portfolio_description %></p>
<p><b>Stocks </b> </p>
<p style="background-color:#e3e3e3;">  	<% @portfolio_stocks.each do |stock| %>
 		<%= stock.ticker %>
 	<% end %> </p>
<hr>


<% count = 1 %>
<% store = Array.new() %>

<% @portfolio_stocks.each do |stock| %>

<%= div_for stock, :class => stock.ticker %>
<% store << stock.ticker %>

<% count = count + 1 %>

<% end %>


<script>


$(document).ready(function() {

    
    var b = new Array();
    b = <%= raw store.to_json %>;

    var a = <%= count %>;


    for(var x=1;x<a;x++){


    var stock_track = "." + b[x-1];


    $(stock_track).animate({height: "300px", width: "410px"});


    $.ajax({
        type: 'GET',
        url: "/portfolios/get_stock_json?ticker=" + b[x-1] ,
        dataType: 'json',
        async: false,
        success: function(data){

        // Create the chart
        $(stock_track).highcharts('StockChart', {
            

            rangeSelector : {
                selected : 1,
                inputEnabled: $(stock_track).width() > 480
            },

            title : {
                text : b[x-1] + ' Stock Price'
            },
            
            series : [{
                name : 'AAPL',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
        }
    });


    }

});




</script>