
<center> <h3> Portfolio name: <%= @portfolio_capa_name %> </h3> </center>


<table class="table table-hover table-bordered table-condensed table-striped">

<thead>
     <th> <b>Description</b> </th>
     <th> <b>Stocks</b> </th>
     <th> <b>Rules</b> </th>
</thead>

  <tbody>
  <tr>
    <td>
      <span class="gray">
        <%= @portfolio.description %>
      </span>

    </td>

    <td>
         <% @portfolio.stocks.each do |stock| %>
            <span class = "gray">  
             <%= stock.ticker %> 
            </span> 
                  <br>
            <% if @ratings_hash[stock.ticker] == 'Good' %>
            <%= tag("span", :class => "good") %>
            <% elsif @ratings_hash[stock.ticker] == 'Bad' %>
               <%= tag("span", :class => "bad") %>
            <% end %>
            <% if @ratings_hash[stock.ticker] != nil %>
             <%= 'Twitter rating - ' + @ratings_hash[stock.ticker] %>
             <% end %>
             </span>
        <br>
        <% end %>

    </td>

        <td>
      <span class="gray">
        <% @portfolio.rules.each do |rule| %>
            <%= link_to(rule.name, "/rules/get_rule?type=page&rule_id=" + rule.id.to_s, :target => "_blank") %>
        <br>
        <% end %>
    </span>
    </td>
    </tr>
    </tbody>
</table>

<br>

<p class = "filter_text"><b>Filter Graph </b></p> 

<select onchange="option_on_change_chart(<%= @stock_ticker_array.to_json %>)" id="options">
    <option value="all">Show all stock graphs</option>

    <% @portfolio.stocks.each do |stock| %>
    <option value=<%= stock.ticker %>><%= stock.ticker %></option>

    <% end %>

</select>

<br>


<% @stock_ticker_array.each do |ticker| %>

<%= tag("p", :id => ticker, :class => "stock" ) %>

<% end %>


<script>


$(document).ready(function() {


    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;

    $.ajax({
        type: 'GET',
        url: "/get_stock_history",
        data: {tickers: stocks_tickers},
        dataType: 'json',
        success: function(data){

            for(var x=0;x < data.length;x++){

                create_stock_chart(stocks_tickers[x], data[x]);

   
            }

        }
    });

});



function option_change(){

    var option = document.getElementById("options").value;
    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;


    if(option != "all"){
        for(var x=0;x < stocks_tickers.length;x++){

            document.getElementById(stocks_tickers[x]).style.display =  "none";

        }

         document.getElementById(option).style.display =  "block";

    }

    else{

        for(var x=0;x < stocks_tickers.length;x++){

           document.getElementById(stocks_tickers[x]).style.display =  "block";
        }

    }


}



</script>