<% if @portfolio != nil %>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<center> <h3> Portfolio: <%= @portfolio_capa_name %> <small>Overview</small></h3> </center>

<div>
  <h4>Description</h4>
  <%= @portfolio.description %>
  <hr />
</div>

<div>
  <select onchange="option_on_change_chart(<%= @stock_ticker_array.to_json %>)" id="options">
      <option value="all">All</option>

      <% @portfolio.stocks.each do |stock| %>
        <option value=<%= stock.ticker %>><%= stock.ticker %></option>
      <% end %>
  </select>

  <br>
  <br>
  <%= image_tag("twitter-loader.gif", :id => "load_image_all") %>

  <div id="show_all"></div>

  <% @stock_ticker_array.each do |ticker| %>

  <%= tag("p", :id => ticker, :class => "stock", :style => "display: none;" ) %>

  <% end %>
  <hr />
</div>


<div>
  <h4>Stocks</h4>
  <% @portfolio.stocks.each do |stock| %>
    <p><%= stock.ticker %>
    <button type="button" onclick="get_rating('<%= stock.ticker %>')" class="btn btn-info">Twitter Rating</button>
    <%= image_tag("twitter-loader.gif", :id => "load_image_#{stock.ticker}", :class => "stock_loading" ) %>
    <span id = "rating_text_<%= stock.ticker%>" class = "twitter_rating"></span>
    </p>
  <% end %>
  <hr />
</div>

<div>
  <h4>Associated Rules</h4>
    <% @portfolio.rules.each do |rule| %>
        <%= link_to(rule.name, "/rules/get_rule?type=page&rule_id=" + rule.id.to_s, :target => "_blank", class: "btn btn-link") %>
    <% end %>
</div>
<div>
  <%= button_to 'Destroy', @portfolio, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
</div>

<script>
$(document).ready(function() {


    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;

    create_stock_compare_chart(stocks_tickers);

    $.ajax({
        type: 'GET',
        url: "/get_stock_history",
        data: {tickers: stocks_tickers},
        dataType: 'json',
        success: function(data){

            for(var x=0;x < data.length;x++){

                create_stock_chart(stocks_tickers[x], data[x]);

   
            }

        }
    });

});

</script>
</div>
</div>
<% else %>
<div>
<p>Portfolio not exists</p>
</div>
<% end %>
