

<center> <h3> Portfolio name: <%= @portfolio_name %> </h3> </center>


<table class="table table-hover table-bordered table-condensed table-striped">

<thead>
    <th> <b>Description</b> </th>
    <th> <b>Stocks</b> </th>
    <th> <b>Rules</b> </th>
</thead>

  <tbody>
  <tr>
  <td>
    <span>
        <%= @portfolio_description %>
    </span>

    </td>

   <td>
    <span>    
        <% @portfolio_stocks.each do |stock| %>
 		     <%= stock.ticker %>
        <br>
 	    <% end %>
    </span>
    </td>

    <td>
    <span>
        <% @portfolio_rules.each do |rule| %>
            <%= rule.name %>
        <br>
        <% end %>
    </span>
    </td>
    </tr>
    </tbody>
</table>

<br>

<p class = "filter_text"><b>Filter Graph </b></p> 

<select onchange="option_on_change_chart(<%= @stock_ticker_array.to_json %>)" id="options">
    <option value="all">Show all stock graphs</option>

    <% @portfolio_stocks.each do |stock| %>
    <option value=<%= stock.ticker %>><%= stock.ticker %></option>
    <% end %>

</select>

<br>


<% @stock_ticker_array.each do |ticker| %>

<%= tag("p", :id => ticker, :class => "stock" ) %>

<% end %>


<script>


$(document).ready(function() {

    var stocks_tickers = <%= raw @stock_ticker_array.to_json %>;

    $.ajax({
        type: 'GET',
        url: "/iframe/get_stock_json",
        data: {tickers: stocks_tickers},
        dataType: 'json',
        success: function(data){

            for(var x=0;x < data.length;x++){

                create_stock_chart(stocks_tickers[x], data[x]);

   
            }

        }
    });

});




</script>