

<h3> <%= @portfolio_name %> </h3>


<table class="table table-hover table-bordered table-condensed table-striped">

<thead>
    <th width = "250"> <b>Description</b> </th>
    <th width = "250"> <b>Stocks</b> </th>
    <th width = "250"> <b>Rules</b> </th>
</thead>

  <tbody>
  <tr>
  <td width = "250">
    <span style="background-color:#e3e3e3;">
        <%= @portfolio_description %>
    </span>

    </td>

   <td width = "250">
    <span style="background-color:#e3e3e3;">    
        <% @portfolio_stocks.each do |stock| %>
 		     <%= stock.ticker %>
        <br>
 	    <% end %>
    </span>
    </td>

    <td width = "250">
    <span style="background-color:#e3e3e3;">
        <% @portfolio_rules.each do |rule| %>
            <%= rule.name %>
        <br>
        <% end %>
    </span>
    </td>
    </tr>
    </tbody>
</table>

<br>

<p style="padding-left:3em;"><b>Filter Graph </b></p> 

<select onchange="option_change()" id="options">
    <option value="all">Show all stock graphs</option>
    <% @portfolio_stocks.each do |stock| %>
    <option value=<%= stock.ticker %>><%= stock.ticker %></option>
    <% end %>
</select>

<br>
=======
>>>>>>> 9dafb627febc9c66edc6f3acaaa40867d76e1e2a

<% store = Array.new() %>

<% @portfolio_stocks.each do |stock| %>

<%= tag("p", :id => stock.ticker, :class => "stock") %>
<% store << stock.ticker %>

<% end %>


<script>


$(document).ready(function() {

    
    var b = <%= raw store.to_json %>;


    for(var x=0;x < b.length;x++){


    change_div(b[x]);


    }

});

function change_div(test){

    $("#" + test).animate({height: "300px", width: "410px"});

    $.ajax({
        type: 'GET',
        url: "/iframe/get_stock_json?ticker=" + test ,
        dataType: 'json',
        success: function(data){

        // Create the chart
        $("#" + test).highcharts('StockChart', {
            

            rangeSelector : {
                selected : 1,
                inputEnabled: $("#" + test).width() > 480
            },

            title : {
                text : test + ' Stock Price'
            },
            
            series : [{
                name : 'TEST',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
        }
    });


};


function option_change(){

    var option = document.getElementById("options").value;
    var b = <%= raw store.to_json %>;


    if(option != "all"){
        for(var x=0;x < b.length;x++){

            document.getElementById(b[x]).style.display =  "none";

        }

         document.getElementById(option).style.display =  "block";

    }

    else{

        for(var x=0;x < b.length;x++){

           document.getElementById(b[x]).style.display =  "block";
        }

    }


}



</script>