

<h3> <%= @portfolio_name %> </h3>


<table class="table table-hover table-bordered table-condensed table-striped">

<thead>
    <th width = "250"> <b>Description</b> </th>
    <th width = "250"> <b>Stocks</b> </th>
    <th width = "250"> <b>Rules</b> </th>
</thead>

  <tbody>
  <tr>
  <td width = "250">
    <span style="background-color:#e3e3e3;">
        <%= @portfolio_description %>
    </span>

    </td>

   <td width = "250">
    <span style="background-color:#e3e3e3;">    
        <% @portfolio_stocks.each do |stock| %>
 		     <%= stock.ticker %>
        <br>
 	    <% end %>
    </span>
    </td>

    <td width = "250">
    <span style="background-color:#e3e3e3;">
        <% @portfolio_rules.each do |rule| %>
            <%= rule.name %>
        <br>
        <% end %>
    </span>
    </td>
    </tr>
    </tbody>
</table>

<% count = 1 %>
<% store = Array.new() %>

<% @portfolio_stocks.each do |stock| %>

<%= tag("p", :class => stock.ticker) %>
<% store << stock.ticker %>

<% count = count + 1 %>

<% end %>


<script>


$(document).ready(function() {

    
    var b = new Array();
    b = <%= raw store.to_json %>;

    var a = <%= count %>;


    for(var x=1;x<a;x++){


    var stock_track = "." + b[x-1];


    $(stock_track).animate({height: "300px", width: "410px"});


    $.ajax({
        type: 'GET',
        url: "/iframe/get_stock_json?ticker=" + b[x-1] ,
        dataType: 'json',
        async: false,
        success: function(data){

        // Create the chart
        $(stock_track).highcharts('StockChart', {
            

            rangeSelector : {
                selected : 1,
                inputEnabled: $(stock_track).width() > 480
            },

            title : {
                text : b[x-1] + ' Stock Price'
            },
            
            series : [{
                name : 'TEST',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
        }
    });


    }

});




</script>