

<h1 class="create-rule-title">Create a Rule</h1>
<div class="full-screen" id="opening">
  <strong id="intro">What do you want from <br/> <a href="#" role="button" id="to-ticker" class="scroll-action">these companies</a>?</strong>
</div>
<%= form_for @rule do |rule_form| %>
<div class= "form-group full-screen" id="ticker">
  <h2 class="create-rule-section">Enter tickers <small>Step 1 of 4</small>
  </h2>
  <div class="col-xs-4 center-screen">
    <%= rule_form.text_field :ticker, hide_label: true, class: 'form-group', placeholder: 'Enter stock ticker' %>
    <span class="help-block">Like "GOOG" for Google. If you are not sure about the ticker, just type in the company name, we will search for you.
    </span>
    <p class="btn btn-primary scroll-action center-btn" id="to-property">Next Step</p>
  </div>
</div>

<div class= "form-group full-screen" id="property">
  <h2 class="create-rule-section">Select Property <small>Step 2 of 4</small>
    <a id="back-ticker" class="scroll-action back btn btn-default" role="button">Back</a>
  </h2>
  <div class="col-xs-4 center-screen">
    <%= rule_form.select(:property, options_for_select([['Price',1], ['Volume',2 ], ['Market Cap', 3],['Div',4], ['Yld',5], ['P/E', 6]]), {}, {class: "form-control"}) %>
    <span class="help-block">Select the property you want to watch.</span>
    <p class="btn btn-primary scroll-action center-btn" id="to-rel">Next Step</p>
  </div>
</div>

<div class= "form-group full-screen" id="rel">
  <h2 class="create-rule-section">Set Relationship <small>Step 3 of 4</small>
    <a id="back-property" class="scroll-action back btn btn-default" role="button">Back</a>
  </h2>
  <div class="col-xs-4 center-screen">
    <%= rule_form.select(:rel, options_for_select([['More than',"up"], ['Less than',"down" ]]), {}, {class: "form-control"}) %>
    <span class="help-block">Which relationship you want to see? More than the target or less than?</span>
    <p class="btn btn-primary scroll-action center-btn" id="to-target">Next Step</p>
  </div>
</div>

<div class= "form-group full-screen" id="target">
  <h2 class="create-rule-section">Set Your Target <small>Step 4 of 4</small>
    <a href="#" id="back-rel" class="scroll-action back btn btn-default" role="button">Back</a>
  </h2>
  <div class="col-xs-4 center-screen">
      <%= rule_form.text_field :target , placeholder: 'Enter a target value'%>
    <span class="help-block">Set up your target value and it's all set!</span> 
    <%= rule_form.submit 'Submit Rule', class: 'btn btn-success center-btn'%> 
  </div>
</div>            

<% end %>


