<% if @rule != nil %>

<div class="row">
<div class="col-md-8 col-md-offset-2">
	<center><h3>Rule: <%= @rule.name %> <small>Overview</small></h3></center>
	<%= link_to "Edit Rule", edit_rule_path(id: @rule.id), class: "btn btn-primary", target: "_blank" %>
	<hr >
	<h4>Associated Portfolio</h4> 
	<p>
			<%= link_to @portfolio.name, "/portfolios/get_portfolio?type=page&portfolio_id=" + @portfolio.id.to_s, target: "_blank" %>
	</p>
	<hr >
	<div>
		<h4>Description</h4> 
		<% if @rule.description != nil %>
				<p><%= @rule.description %></p>
		<% else  %>
			  <p>No description</p>
		<% end %>
		<hr >
	</div>
	<div>
		<b>Last Triggered</b> 
			<% if @rule.recent_history != nil%>
				<p>Triggered time: <%= 	@rule.recent_history.triggered_time %></p>
				<p>The portfolio's average of the specified property was <%= 	"%.2f" %(@rule.recent_history.amt) %></p>
			<% else %>
				<p>Not triggered yet</p>
			<% end %>
		<hr>
	</div>
</div>
</div>

<% else  %>
<div><p>Rule does not exist</p></div>
<% end %>
