
	<h3><%= @rule.name %></h3>
	<%= link_to "Edit Rule", edit_rule_path(id: @rule.id), class: "btn btn_primary", target: "_blank" %>
	<hr style="padding:0px; margin: 0px;">
	<b>Description</b> 
	<br>
	<p>
		<span style="background-color:#e3e3e3;">
			<%= @rule.description %>
		</span>
	</p>
	<hr style="padding:0px; margin: 0px;">
	<b>Last Triggered</b> 

	<p>
		<span style="background-color:#e3e3e3;">
			<%= @rule.last_triggered %>
		</span>
	</p>
	<br>
	<hr style="padding:0px; margin: 0px;">
	<b>Portfolio Name</b> 
	<p>
		<span style="background-color:#e3e3e3;">
			<%= link_to @portfolio.name, "/portfolios/get_portfolio?type=page&portfolio_id=" + @portfolio.id.to_s, target: "_blank" %>
		</span>
	</p>
	<hr style="padding:0px; margin: 0px;">




