
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend><center>Create New Rule</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Stock Symbol</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block"> A unique series of letters assigned to a security for trading purposes. NYSE and AMEX listed stocks have three characters or less. Nasdaq-listed securities have four or five characters.</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Choose an indicator:</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Price</option>
      <option value="2">Volume</option>
      <option value="3">Market Cap</option>
      <option value="4">Div</option>
      <option value="5">Yld</option>
      <option value="6">P/E</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Change:</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Up</option>
      <option value="2">Down</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Input your target:</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">What value do you want the indicator to be?</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Submit rule</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit Rule</button>
  </div>
</div>

</fieldset>
</form>


<%= flash[:notice] if flash[:notice] %>

<%= bootstrap_form_for @rule do |rule_form| %>
  <%= label_tag(:ticker, "Ticker") %>
  <br />
  <%= rule_form.text_field :ticker %>
  <br />
  <%= label_tag(:property, "Property") %>
  <br />
  <%= rule_form.select(:property, options_for_select([['Price',"last_trade_price_only"], ['Volume',"volume" ], ['Market Cap', "market_capitalization"],['Div',4], ['Yld',5], ['P/E', 6]])) %>

  <br />
  <%= label_tag(:rel, "Up Or Down") %>
  <br />
  <%= rule_form.radio_button :rel, "up" %> Up To
  <%= rule_form.radio_button :rel, "down" %> Down To
  <br />
  <%= label_tag(:target, "Target") %>
  <%= rule_form.text_field :target %>
  <br />
  <%= submit_tag("Hit me") %>
<% end %>