<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @rule.ticker %>
</p>

<p>
  <strong>Property:</strong>
  <%= @rule.property %>
</p>

<p>
  <strong>Up or down:</strong>
  <%= @rule.rel %>
</p>

<p>
  <strong>Target:</strong>
  <%= @rule.target %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
