		
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="main.css">
    <style>
      header {
        background: url(<%= asset_path "binary_background.jpg" %>);
        background-size:cover;
        height: 700px;
        padding-top: 70px;
      }
    </style>

   
  <title>Trade Assistant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  </head>

  <body>
    <header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <strong>
            <%= link_to("TradeAssistant", root_path,:class => "navbar-brand") %></strong>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <% if user_logged_in? %>
              <li><%= link_to("Dashboard", dashboard_path) %></li>
            <% else %>
              <li><%= link_to("Home", root_path) %></li>
            <% end %>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_logged_in? %>
              <li><a href="logout">Log Out</a></li>
              <% else %>
              <li><a href="login">Login</a></li>
              <li><a href="register">Sign Up</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>


<%= yield %>

</body>
</html>
