<html>
  <head>

  <%= stylesheet_link_tag 'bootstrap' %>

  <%= javascript_include_tag 'jquery', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'highstock', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'createchart', "data-turbolinks-track" => true %>


  </head>
  <body>
  <%= yield %>
  </body>
</html>